:root {
  --jh-green: #56b4e9;
  --jh-cyan: #56b4e9;
  --jh-pink: #cc79a7;
  --jh-yellow: #f0e442;
  --jh-blue: #0072b2;
  --jh-orange: #e69f00;
}
body {
  background-color: var(--jh-green);
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

.blue-dial::-webkit-slider-thumb {
  background: var(--jh-yellow);
}

.bg-diff {
  background-color: var(--jh-cyan);
  color: white;
}

.bg-diff2 {
  background-color: var(--jh-cyan);
  color: white;
}

.space-up-down {
  padding-top: 1em;
  padding-bottom: 1em;
}

.jh-btn-primary {
  color: #ffffff;
  background-color: var(--jh-pink);
  border-color: var(--jh-pink);
}

.jh-btn-primary:hover,
.jh-btn-primary:focus,
.jh-btn-primary:active,
.jh-btn-primary.active,
.open > .dropdown-toggle.jh-btn-primary {
  color: #fff;
  background-color: var(--jh-orange);
  border-color: var(--jh-orange); /*set the color you want here*/
}

.plot {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 3em;
}

.p-top {
  padding-top: 1em;
}

.p-bottom {
  padding-bottom: 1em;
}
